html {
	padding: 0;
	margin: 0;

  height: 100%;
}

body {
  padding: 0;
  margin: 0;

  min-height: 100%;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: #F9E8C0;
  font-family: 'Raleway', sans-serif;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.intro-box {
  pointer-events: none;
  position: fixed;
  padding-top: 10%;
  padding-left: 10%;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #001427;
}

.intro-subbox p {
  font-size: 130%;
  width: 64%;
  color: #fff;
}

.highlight {
  color: #BA1200;
}

.part1 {
  color: #fff;
  font-size: 500%;
}

.part2 {
  color: #BA1200;
  font-size: 500%;
}

.description-box {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 5%; right: 5%;
  width: 40%;
  padding: 1%;
  border: 1px #000 dashed;
  background-color: rgba(249,232,192,0.9)
}

.description-subbox1 {
  float: left;
}

.description-subbox2 {
  width: 60%;
  height: 100%;
  padding-top: 1%;
  float: left;
}

.link-path {
  display: inline-block;
  padding-left: 2%;
  font-size: 60%;
}

.poi-box {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 5%; left: 5%;
  width: 40%;
  height: 10%;
  padding: 1%;
}

.poi-name {
  font-size: 70%;
  margin-bottom: 0.75%;
}

.poi-description {
  font-size: 100%;
}

#source-cursor {
    position:fixed;
    margin-left:-8px;
    margin-top:-6px;
    pointer-events:none;
    cursor: none;
}

.info-link {
  color: #BA1200;
  position: fixed;
  bottom: 3%;
  right: 3%;
  cursor: pointer;

  z-index: 2;
}

.info-box {
  display: none;
  background-color: #fff;

  font-size: 80%;

  position: fixed;
  width: 45%;
  height: 60%;
  bottom: 25%;
  right: 25%;

  padding: 1%;
  border: 2px #000 solid;

}

.right {
  float: right;
}

#sources-box {
  display: none;
  padding-top: 3%;
}

.info-choice {
  cursor: pointer;
}

#about-us {
  color: #BA1200;
}

.sources-category {
  font-size: 100%;
  padding-bottom: 2%;
}

.sources-row {
  font-size: 60%;
}

.sources-subbox {
  width: 45%;
  float: left;
}