html, body {
	padding: 0;
	margin: 0;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  opacity: 0.5;
}

g text {
  font-family: 'Open Sans', sans-serif;
}

#description-box {
  font-family: 'Open Sans', sans-serif;
  pointer-events: none;
  position: fixed;
  bottom: 5%; right: 5%;
  background-color: #E7C5CF;
  width: 20%;
  height: 30%;
  padding: 1%;
}