html {
	padding: 0;
	margin: 0;
}

body {
  padding: 0;
  margin: 0;

  background-color: #594D57;
  font-family: 'Open Sans', sans-serif;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

g text {
}

.intro-box {
  pointer-events: none;
  position: fixed;
  padding-top: 10%;
  padding-left: 10%;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: #EEE5BF;
}

.intro-subbox p {
  font-size: 140%;
  width: 50%;
}

.highlight {
  color: #BA1200;
}

.part1 {
  color: #9DD1F1;
  font-size: 500%;
}

.part2 {
  color: #BA1200;
  font-size: 500%;
}

.link-box {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 5%; right: 5%;
  background-color: #E7C5CF;
  width: 20%;
  padding: 1%;
}

.link-path {
  padding-left: 10px;
  font-size: 60%;
}

.poi-box {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 5%; left: 5%;
  background-color: #E7C5CF;
  width: 60%;
  height: 10%;
  padding: 1%;
}

.poi-name {
  font-size: 70%;
}

.poi-description {
  font-size: 100%;
}

.poi-title {

}